/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 300 to 800 */

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


/*Shared styles*/
.text-primary {
    color:orangered;
}
.dark-2 {
    color: #474747;
}
.btn-primary {
    background-color: orangered;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* header styles */
.header {
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat:no-repeat;
    background-position: top left, bottom right;
}


/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
    /* margin-right: auto; */
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    /* color: black; */
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
}


/* -----banner styles----- */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 35px 0 200px;
}
.banner-content {
    max-width: 580px;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    font-size: 60px;
    font-weight: bold;
}
.banner-profile-pic {
    width: 580px;
    /* border-radius: 50%; */
    margin-top: 50px;
}