.hide {
    display: none;
}

@media screen and (max-width: 576px) {
    .skills-container, .about-items, .resume-container, footer{
        flex-direction: column;
    }
    footer, .about{
        padding: 20px;
    }
    .footer-column {
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea {
        width: calc(100% - 40px);
    }
}