@media screen and (max-width: 576px) {
    nav, nav > ul,
    .banner,
    .skills-container,
    .about-items,
    .resume-container,
    footer {
        flex-direction: column;
    }
    nav > ul {
        gap: 20px;
    }
    .banner .btn-primary { 
        margin-bottom: 20px;
    }
    header {
        background-image: none;
    }

    .banner {
        margin: 20px;
    }
    .banner-profile-pic {
        width: 100%;
    }

    .about, .resume-column, .section-description, footer {
        padding: 20px;
    }

    .footer-column {
        width: 100%;
    }

    footer input[type="text"],
    footer input[type="email"],
    footer textarea {
        width: calc(100% - 40px);
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .banner{
        flex-direction: column;
    }
}